.show-update {
  width: 600px;
  text-align: center;
  padding: 25px;
  border: 1px solid black;

  .tags {
    border: 1px solid black;
    background-color: $blue;
    padding: 0px 25px;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.btn-light {
  border: 1px solid black;
}
